{% extends 'base.html' %}
{% load static %}

{% block css_files %}
   <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
{% endblock %}

{% block page_title %}
    Vampira's Blog - {{ post.title }}
{% endblock %}

{% block content %}
    <section class="single-post">
        <h1>{{ post.title }}</h1>
        <p class="p-small">Published on {{ post.date|date:"M d, Y" }} by {{ post.author }}</p>
        <img src="{% static 'blog/images/'|add:post.image %}" alt="{{ post.title }}">
        <p>{{ post.content }}</p>
    </section>
{% endblock %}